* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
}

.row--title {
  justify-content: center;
}

.section {
  border-top: 1px solid $color-gray;
  padding-bottom: 50px;
  background-color: $color-gray-light;
}

.section__title {
  padding: 20px 0;
  font-weight: 900;
  text-align: center;
  color: $font-color-3;
}