$color-gray: #D3D3D3;
$color-gray-light: #F2F2F2;
$color-gray-dark: #333;
$color-red-light: #E54E42;
$color-white: #fff;
$font-color-1: #777;
$font-color-2: #999;
$font-color-3: #080808;
$font: sans-serif;