@import 'variables';
@import 'responsive/index';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font;
}

.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;

  &--title {
    justify-content: center;
  }
}

.section {
  &-posts {
    border-top: 1px solid $color-gray;
    padding-bottom: 50px;
    background-color: $color-gray-light;
  }

  &__title {
    padding: 20px 0;
    font-weight: 900;
    text-align: center;
    color: $font-color-3;
  }
}

.post {
  margin-bottom: 50px;
  box-shadow: 0 0 20px $color-gray-dark;

  &__header {
    position: relative;
    height: 115px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/city_newyork.jpeg);
    background-size: cover;
  }

  &__photos, &__date {
    display: inline-block;
    padding: 8px;
    background: $color-red-light;
    color: $color-white;
  }

  &__photos {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &__date {
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    text-align: center;
  }

  &__content {
    padding: 35px 30px 30px 30px;
  }

  &__title {
    margin-bottom: 15px;
    color: $color-gray-dark;
  }

  &__highlight {
    color: $color-red-light;
    font-weight: 500;
  }

  &__description {
    margin: 15px 0;
    line-height: 200%;
    font-weight: 100;
    color: $font-color-1;
  }

  &__interaction {
    display: flex;
  }

  &__viewed, &__comments {
    display: inline-block;
    color: $font-color-2;
    i {
      margin-right: 5px;
    }
  }

  &__viewed {
    margin-right: 20px;
  }
}