@media (min-width: 1024px) {
  .col-3 {
    width: 30%; } }

@media (max-width: 1023px) {
  .row {
    padding: 0 40px; }
  .col-3 {
    width: 48%; } }

@media (max-width: 767px) {
  .col-3 {
    width: 100%; } }
