@import '../variables';

.post {
  margin-bottom: 50px;
  box-shadow: 0 0 20px $color-gray-dark; 
}

.post__header {
  position: relative;
  height: 115px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/city_newyork.jpeg);
  background-size: cover;
}

.post__photos, 
.post__date {
  display: inline-block;
  padding: 8px;
  background: $color-red-light;
  color: $color-white;
}

.post__photos {
  position: absolute;
  left: 0;
  bottom: 0;
}

.post__date {
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 50%;
  text-align: center;
}

.post__content {
  padding: 35px 30px 30px 30px;
}

.post__title {
  margin-bottom: 15px;
  color: $color-gray-dark;
}

.post__highlight {
  color: $color-red-light;
  font-weight: 500;
}

.post__description {
  margin: 15px 0;
  line-height: 200%;
  font-weight: 100;
  color: $font-color-1;
}

.post__interaction {
  display: flex;
}

.post__viewed, 
.post__comments {
  display: inline-block;
  color: $font-color-2;
  i {
    margin-right: 5px;
  }
}

.post__viewed {
  margin-right: 20px;
}